@charset "UTF-8";
@import url("mediapage.css");
/* CSS Document */
/* Written By Isabel Hartnett*/

.navigationbar{
	background-color:black;
	margin-left:25%;
	margin-right:10%;
	color: white;
	overflow:hidden;
	padding-top: 1px;
}

.navigationbar a{
	text-decoration:none;
	color:white;
	font-size:160%;
	display:inline-block;
	border:solid;
	border-color:black;
	border-width:.1%;
	padding-left:0.1%;
	padding-right:0.1%;
}

.navigationbar a:hover{
	background-color:lightgray;
	color:white;
	font-style:italic;
}

.navigationbar a:active{
	background-color:grey;
	color:purple;
}

