@charset "utf-8";

/* CSS Document */
/*written by Isabel Hartnett*/

.navigationbar{
	background-color: black;
	margin-left: 10%;
	margin-right: 15%;
	padding-top: 1px;
	padding-bottom: 1px;
	color: white;
	overflow: hidden;
}

.navigationbar a{
	text-decoration: none;
	color: white;
	font-size: 160%;
	display: inline-block;
	border: solid;
	border-color: black;
	border-width: 1px;
	padding-left: 5px;
	padding-right: 7px;
}

.navigationbar a:hover{
	background-color: gray;
	color: white;
	font-style: italic;
	font-family: "helvetica";
}

.navigationbar a:active{
	background-color: lightgray;
	color: #FFFFFF;
}