@charset "UTF-8";
/* CSS Document */
/* Written by Isabel Hartnett */

h3{
	color:#CDC441;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	width:50%;
	margin:auto;
	padding-top:3%;
	padding-bottom:2%;
	font-size:150%;
}

#2columnalbum{
	text-align:center;
	padding-bottom:5%;
	background:-webkit-linear-gradient(left top, #000000, #ffffff);
	padding-top:3%;
}

.firstrow{
	width:32%;
	height:100%;
	align-items:center;
	float: left;
	position: inherit;
	display:inline-block;
	padding-left: 160px;
	
}

.seconedrow{
	width:36%;
	align-items: center;
	float: right;
	position: inherit;
	display:inline-block;
	padding-right: 160px;
}


#2columnalbum img{
	width:100%;
	align-items: center;
}